@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


.fa {
   color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 50px;
    font-weight: lighter;
}

body{
    background-color: rgb(179, 180, 180);
}

@font-face {
  font-family: 'CalciteWebCoreIcons';
  src:
    url('https://raw.githubusercontent.com/Esri/arcgis-js-api/master/themes/calcite/icons/fonts/CalciteWebCoreIcons.ttf?cu4poq') format('truetype'),
    url('https://raw.githubusercontent.com/Esri/arcgis-js-api/master/themes/calcite/icons/fonts/CalciteWebCoreIcons.woff?cu4poq') format('woff'),
    url('https://raw.githubusercontent.com/Esri/arcgis-js-api/master/themes/calcite/icons/fonts/CalciteWebCoreIcons.svg?cu4poq#CalciteWebCoreIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="esri-icon-"], [class*=" esri-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CalciteWebCoreIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#control.esri-icon-play:before {
  content: "\e625";
    font-size: 48px;
    color: white;
}

#control.esri-icon-pause:before {
  content: "\e624";
    font-size: 48px;
    color: white;
}


#refresh.esri-icon-refresh:before {
  content: "\e61a";
    font-size: 48px;
    color: white;
}