@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


.fa {
   color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 50px;
    font-weight: lighter;
}

body{
    background-color: rgb(179, 180, 180);
}



.btn-primary.outline{
    background-color: transparent;
    border-color: white;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    background-color: transparent;
    border-color: white;
    box-shadow: none;
}